

.sellBoard__form {
    display: flex;
    flex-direction: column;
}

.seller__dataWrap {
    display: table;
    flex-direction: column;
    table-layout: fixed; 
    width: 100%;
    padding: 100px;
}

.seller__dataWrap > div {
    display: table-cell; 
    width: 50%; 
    vertical-align: top;
}

.seller__datathumb--img {
    display: flex;
    flex-direction: column;
    float: left;
    width: 50%;
}

.seller__datatxt {
    display: flex;
    flex-direction: column;
    float: right;
    width: 50%;
}

.seller__datatxtBox .seller__datatitle {
    font-size: 26px; 
    color: #262626; 
    font-weight: 600; 
}
.seller__datatxtBox .seller__datatxtarea {
    padding: 5px 2px; 
    color: #555;
}

.seller__datatxtBox ul {
    font-size: 0; 
    padding: 0 8px 5px; 
    font-family: "Noto Sans KR";
}

.seller__datatxtBox ul li {
    font-size: 14px; 
    display: inline-block; 
    vertical-align: middle; 
    padding-right: 20px; 
    font-weight: 300;
}

.seller__dataValue ul li {
    font-weight: 600; 
    font-size: 18px;
}

.seller__datatxt .seller__data--btn {
    font-size: 0;
}
.seller__datatxt .seller__data--btn > div {
    display: inline-block; 
    vertical-align: middle; 
    height: 44px; 
    line-height: 44px; 
    font-size: 14px; 
    width:33.33%;
}
.seller__datatxt .seller__data--btn > div button {
    width: calc(100% - 10px); 
    margin: 0 auto; 
}

.seller__datatxt .seller__data--btn .button1 {
    background: #91cf4a !important;
    color: #000000 !important; 
}

.seller__datatxt .seller__data--btn .button2 {
    background: #50554b !important;
    color: #ffffff !important;
}

.seller__datatxt .seller__data--btn .button3 {
    background: none;
    color: #000000 !important;
    border: 1px solid #c8c8c8 !important;
}

.menu-bar {
    display:flex;

}

.menu-bar a {
    background:#c8c8c8;
    display:block;
	border-radius:6px;
    width:100%;
	cursor:pointer;

	font-family:Arial;
	font-size:15px;
    font-weight:bold;

    /** 메뉴바 박스 위치 중앙**/
    margin-left: 45px;

    padding:6px 24px;
    text-align: center;
    text-decoration:none;
    color:#000000;
}
.menu-bar a:visited {
    text-decoration:none;
    color:#000000;
}
.menu-bar a:hover {
    text-decoration:none !important;
    background:#91cf4a;
    color:#000000;
}
.menu-bar a:active {
	position:relative;
    top:1px;
    text-decoration:none;
    color:#000000;
}

.seller__datatxt hr {
    margin-right: 12px;
}

.seller-data {
    font-family: "Noto Sans KR"; 
    color: #555; 
    font-size: 14px;
}

.seller-head {
    font-size: 20px; 
    padding: 0 20px 20px; 
    position: relative;
}
.seller-head:before {
    content: ""; 
    display: inline-block; 
    width: 8px; 
    height: 8px; 
    border-radius: 50%; 
    background: #7dc000; 
    left: 0; top: 50%; 
    margin-top: -12px; 
    position: absolute;
}

.rs-table-list {
    font-size:0; 
}

.rs-table-list .rs-td-item {
    font-size:12px; 
    display:inline-block; 
    width:50%; 
    margin:-1px -1px 0 0; 
}

.rs-table-box {
    display:table; 
    width:100%; 
    border-collapse:collapse; 
    table-layout:fixed; 
}

.rs-table-box dt, .rs-table-box dd {
    display:table-cell; 
    border:1px solid #d2d2d2; 
    padding:10px 15px;
}

.rs-table-box dt {
    width:250px; 
    background:#f9f9f9; 
}

.rs-td-etc {
    font-size:12px; 
    display:inline-block; 
    width:100%; 
    margin:-1px -1px 0 0; 
}



thead {
    border-top: 5px solid #a9a9a9;
}

tr {
    border-bottom: 1px solid #a9a9a9;
}

.customer-review__table--num, .customer-qna__table--num {
	width: 100px;
}

.customer-review__table--title, .customer-qna__table--title {
	width: 800px;
}

.customer-review__table--date, .customer-qna__table--date {
	width: 200px;
}

.customer-review__table--hit, .customer-qna__table--hit {
	width: 100px;
}

.customer-review__table--none-content, .customer-qna__table--none-content {
    height: 300px;
}