

.join__form {
    display: flex;
    flex-direction: column;

}

.join__form--person {
    display: flex;
    flex-direction: column;
    width: 1200px;
    padding: 50px;

}

span {
    margin-left: 10px;
    font-family: 맑은 고딕,돋움,굴림;
    color:#888888;
    font-size: 8pt;
}

.essential::before {
    content: "";
    display: inline-block;
    width: 12px;
    height: 9px;
    background-image: url("./UI/assets/Path.png");
    margin-right: 5px;
}

.virtual::before {
    content: "";
    display: inline-block;
    width: 16px;

}

.name {
    padding: 10px;
    border-top: 2px solid lightgray
}

.name .inputName {
    width: 200px;
    border: 1px solid gray;
    border-radius: 5px;
    margin-left: 150px;
    text-align: center;
}

.id {
    padding: 10px;
    border-top: 2px solid lightgray
}

.id .inputId {
    width: 200px;
    border: 1px solid gray;
    border-radius: 5px;
    margin-left: 134px;
    text-align: center;
}

.pw {
    padding: 10px;
    border-top: 2px solid lightgray
}

.pw .inputPw {
    width: 200px;
    border: 1px solid gray;
    border-radius: 5px;
    margin-left: 118px;
    text-align: center;
}

.pwcheck {
    padding: 10px;
    border-top: 2px solid lightgray
}

.pwcheck .inputPwCheck {
    width: 200px;
    border: 1px solid gray;
    border-radius: 5px;
    margin-left: 81px;
    text-align: center;
}

.email {
    margin-bottom: 35px;
    padding: 10px;
    border-top: 2px solid lightgray
}

.email .inputEmail1 {
    width: 200px;
    border: 1px solid gray;
    border-radius: 5px;
    margin-left: 98px;
    text-align: center;
}

.email .inputEmail2 {
    width: 200px;
    border: 1px solid gray;
    border-radius: 5px;
    text-align: center;
}

.email .inputEmail3 {
    width: 200px;
    border: 1px solid gray;
    border-radius: 5px;
    text-align: center;
}

.mPhone {
    padding: 10px;
    border-top: 2px solid lightgray
}

.mPhone .inputPhone1 {
    width: 80px;
    border: 1px solid gray;
    border-radius: 5px;
    margin-left: 102px;
    text-align: center;
}

.mPhone .inputPhone2 {
    width: 80px;
    border: 1px solid gray;
    border-radius: 5px;
    text-align: center;
}

.mPhone .chk_sms {
    border: 1px solid gray;
    border-radius: 5px;
    margin-left: 20px;
}

.mPhone .smsSpan {
    margin-left: 240px;
    font-family: 맑은 고딕,돋움,굴림;
    color:#888888;
    font-size: 8pt;

}

.addr {
    margin-bottom: 10px;
    padding: 10px;
    border-top: 2px solid lightgray
}

.addr .inputAddrNum {
    width: 100px;
    border: 1px solid gray;
    border-radius: 5px;
    margin-left: 149px;
    text-align: center;
}

.addr .addrNumBtn {
    background: lightgray;
	border: none;
	border-radius: 10px;
	color: black;
	font: 16px 맑은고딕,굴림,돋움;
	letter-spacing: 1px;
    padding: 3px 12px;
    margin-left: 20px;
}

.addr .inputAddr1 {
    width: 350px;
    border: 1px solid gray;
    border-radius: 5px;
    margin-left: 203px;
    text-align: center;
}

.addr .inputAddr2 {
    width: 350px;
    border: 1px solid gray;
    border-radius: 5px;
    text-align: center;
}

.button {
    padding: 10px;
    border-top: 2px solid lightgray
}

.button .submitBtn {
    width: 200px;
    background: blueviolet;
	border: none;
	border-radius: 10px;
	color: #ffffff;
	font: 16px 맑은고딕,굴림,돋움;
	letter-spacing: 1px;
    padding: 10px;
    margin-left: 315px;
}

.button .resetBtn {
    width: 200px;
    background: gray;
	border: none;
	border-radius: 10px;
	color: #ffffff;
	font: 16px 맑은고딕,굴림,돋움;
	letter-spacing: 1px;
    padding: 10px;
    margin-left: 20px;
}