.main__login__customer--wrap, .main__login__customer--wrap2 {

    display: flex;
    flex-direction: column;
    float: left;
    margin-top: 100px;
    padding-bottom: 100px;  


}

.main__login__customer--forms{

    width: 1200px;
}

.loginfind_btn a:hover {
    /*   마우스 올렸을 때    */
    color:#ff7b00;
    font-weight: 600;
    text-decoration: underline;
}
.loginfind_btn a:active{
    /*    클릭했을 때    */
    color: #008000;
    text-decoration: none;
}

/*로그인 text*/
.login_tit{

    margin-left: 530px; 


}

/*회원 text */
.login__member{ 

    padding-left: 480px; 
    margin-top: 25px;
    width: 600px;
    font-weight: bold;
}

/* 개인사업자 text*/
.login__member2 {
    
    margin: 54px 0 0 -180px;
    font-weight: bold;

}

/*회원 노란색 선 */
.login__border{

    margin-left: 405px;
    border-top: 4px solid #fdcf41;
    width : 20%;
}


.inputId, .inputPw, .submitBtn, .submitjoinBtn {

    margin: 25px 0 0 338px; 
    border-radius: 5px;
    width: 440px;
    height: 39px;


}

.main__login__customer input{
    
    border: 1px solid #808080;
    text-align: left;
}

/* 아이디 저장 체크박스 위치*/
.check_Id{
        
    margin: 25px 0 0 370px;

}

/*로그인 버튼*/
.main__login__customer--form .submitBtn  {

    background: #ddc808;
    
}

/*아이디/비밀번호 찾기 */
.loginfind_btn{
    
    margin: 25px 0 0 483px;
    font-size: 13px;

}

/*회원가입 버튼*/
.submitjoinBtn{

    background : #808080;    
    text-decoration: none; 
    color: #ffffff; 

}



/* 네이버, 카카오 */
.main__login__customer--other_login {

    margin: 20px 0 0 397px;
    
}

.main__login__customer--other_login img{

    width: 160px;
    height: 42px;
   

}