
.order__login {
    display: flex;
    flex-direction: column;

}

.order__login--wrap, .order__login--wrap2 {

    display: flex;
    flex-direction: column;
    float: left;
    width: 50%;

}


.order_tit, .order_tit2{

    margin-top: 200px;    
    padding-left: 215px;
}

.order_tit2{
    padding-left: 182px;

}

.login__member, .login__member2{ 

    padding-left: 225px; 
    margin-top: 25px;
}

.login__member2 {

    float: right;
}

.login__border, .login__border2{

    margin-left: 135px;
    border-top: 4px solid #fdcf41;
    width : 35%;
}

input[type="text"], input[type="password"] {

    margin-top: 25px;
    margin-left: 35px;
    border: 1px solid #808080;
    border-radius: 5px;
    text-align: left;
    width: 420px;
    height: 39px;
}

.checkbox{
    
    margin-left: 47px;
    margin-top: 25px;

}


.submitBtn  {

    margin-top: 20px;
    margin-left: 25px;
    border-radius: 5px; 
    width: 450px;
    height: 39px;
    background: #ddc808;
    
}

.loginfind_btn{
    
    margin-top: 25px;
    margin-left: 155px;
    font-size: 13px;

}

.submitjoinBtn, .submitcartBtn{

    margin-left: 25px;
    border-radius: 5px; 
    width: 450px;
    height: 39px;
    background : #808080;   

}

.submitjoinBtn{

    margin-top: 20px;
}

.submitcartBtn{

    margin-top: 67px;
}
.submitjoinBtn, .submitcartBtn, .b{

    color : #ffffff
}

.other_login{

    margin-top: 20px;
    margin-left: 42px;

}




