

.main {
    display: flex;
    flex-direction: column;
}

.mypage-upload {
    min-height: 420px; 
    padding-bottom:100px;
    text-align: justify;
}

.mypage-upload h3 span {  
    font-size: 24px; 
}

.uploadBox {
    margin-top: 20px;
}

.uploadBox__table {
    width: 100%;
    border-top: 1px solid #c5c0c0;
    border-collapse: collapse;
}

.uploadBox__table th {
    width:300px;
    background-color: #f0e7e7;
    padding: 10px;
    text-align: center;
    font-size: 15px;
}

.uploadBox__table td {
    width:700px;
    padding: 10px;
    font-size: 15px;
}

.uploadBox__table input {
    border: 1px solid #c5c0c0;
    border-radius: 5px;
    padding:0px 10px;
}

.inputAddrNum, .inputAddr1, .inputAddr2 {
    text-align: center;
}

.inputAddrNum {
    width:150px;
}

.inputAddr1, .inputAddr2 {
    margin-top: 5px;
    width: 330px;
}

.uploadBox__table .select-btn {
    display: flex;
}

.uploadBox__table .select-btn2  {
    margin-left: 20px;
}

.addrNumBtn, .submitBtn, .resetBtn {
    width: 200px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    font: 16px 맑은고딕,굴림,돋움;
    letter-spacing: 1px;
	color: #ffffff;
}

.addrNumBtn {
    width: 100px;
    padding: 5px;
    margin-left: 20px;
    font: 12px 맑은고딕,굴림,돋움;
    background: #d3d3d3;
	color: black;
}

.submitBtn {
    margin-left: 315px;
    background: #17a542;
}

.resetBtn {
    margin-left: 20px;
    background: #808080;
}
