
.main {
    display: flex;
    flex-direction: column;
}

.category-table {
    display: flex;
    flex-direction: column;
    width: 1200px;
    padding: 50px;
}

.category-title {
    font-size: 20px;
}

/** 순서 표시 방식 1 시작 **/
.contents-select {
    margin-left: 575px;
}








#new {
    font-family:"돋움";
    font-size:12px;
    color:#444444;    
}

ul {
    list-style-type:none;
}
.clear {
    clear:both;
}
#new h3 {
    padding-bottom:5px;
    border-bottom:solid 2px #9bc32a;   
}
#new h3 span{
    color:#80a727;
}

#new .item_box {
    float:left;
    margin: 30px 0 0 18px;
    border:1px solid #f3d9d9;
    text-align:center;
}

#new img {
    width:250px;
    padding:5px;
}

#new .subject{
    margin-top:10px;
    color:#80a727;
}
#new .comment{
    margin-top:5px;
    color:#888888;
}
#new .price{
    margin-top:5px;
    color:#ff0000;   
    font-weight:bold;
}

.clear {
	clear: both;
}
