<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace="com.spring.mapper.BoardMapper는 
	 BoardMapper인퍼페이스(BoardMapper.class)의 이름을 사용한다. -->
<!-- root-context에서 아래와 같이 typeAliasesPackage를 설정하면 패키지 경로 생략 가능. -->
<mapper namespace="com.spring.mapper.BoardQnaMapper">

    <resultMap type="com.spring.boardproduct.BoardQnaVO" id="BoardQnaMap">
    	<result property="qna_id" column="qna_id" />
        <result property="qna_num" column="qna_num" />
        <result property="board_id" column="board_id" />
        <result property="seller_id" column="seller_id" />
        <result property="buyer_id" column="buyer_id" />
        <result property="qna_status" column="qna_status" />
        <result property="answer_status" column="answer_status" />
        <result property="register_date" column="register_date" />
        <result property="title" column="title" />
        <result property="content" column="content" />
        <result property="recommend" column="recommend" />
        <result property="recommend_date" column="recommend_date" />
        <result property="secret_flag" column="secret_flag" />
    </resultMap>

	<!-- id는 Mapper.java(여기선 MemberMapper.java)에 동일하게 사용해야된다. -->  
	
	<select id="getQnaNum" parameterType="String" resultType="int">
	    SELECT NVL(MAX(qna_num), 0) FROM board_qna WHERE board_id = #{board_id}
	</select>
	
	<insert id="insertQna" parameterType="com.spring.boardproduct.BoardQnaVO">
	    INSERT INTO board_qna VALUES ( #{qna_id} ,#{qna_num}, #{board_id}, #{seller_id}, #{buyer_id}, 
	        #{qna_status}, #{answer_status}, SYSDATE, #{title}, #{content}, 
	        #{recommend, jdbcType=VARCHAR}, #{recommend_date, jdbcType=VARCHAR}, #{secret_flag})
	</insert>
	
	<select id="getBoardQnaList" resultMap="BoardQnaMap">
	    <choose>
	        <when test="answer_status == 1 or answer_status == 2">
	            <choose>
	                <when test="qna_status gte 1 and qna_status lte 6">
	                    <choose>
	                        <when test='keyword == null or keyword == ""'>
	                            SELECT * FROM (
	                                SELECT ROWNUM AS RNUM, B.* FROM (
	                                    SELECT * FROM board_qna 
	                                    WHERE answer_status = #{answer_status} 
	                                    AND qna_status = #{qna_status} 
	                                    AND board_id = #{board_id} 
	                                    ORDER BY qna_num DESC) B)
	                            WHERE RNUM BETWEEN (((#{page_num}-1) * #{page_amount}) + 1) 
	                            AND (#{page_num} * #{page_amount})
	                        </when>
	                        <otherwise>
	                            SELECT * FROM (
	                                SELECT ROWNUM AS RNUM, B.* FROM (
	                                    SELECT * FROM board_qna 
	                                    WHERE answer_status = #{answer_status} 
	                                    AND title LIKE '%'||#{keyword}||'%' 
	                                    AND qna_status = #{qna_status} 
	                                    AND board_id = #{board_id} 
	                                    ORDER BY qna_num DESC) B)
	                            WHERE RNUM BETWEEN (((#{page_num}-1) * #{page_amount}) + 1) 
	                            AND (#{page_num} * #{page_amount})
	                        </otherwise>
	                    </choose>
	                </when>
	                <otherwise>
	                    <choose>
	                        <when test='keyword == null or keyword == ""'>
	                            SELECT * FROM (
	                                SELECT ROWNUM AS RNUM, B.* FROM (
	                                    SELECT * FROM board_qna 
	                                    WHERE answer_status = #{answer_status} 
	                                    AND board_id = #{board_id} 
	                                    ORDER BY qna_num DESC) B)
	                            WHERE RNUM BETWEEN (((#{page_num}-1) * #{page_amount}) + 1) 
	                            AND (#{page_num} * #{page_amount})
	                        </when>
	                        <otherwise>
	                            SELECT * FROM (
	                                SELECT ROWNUM AS RNUM, B.* FROM (
	                                    SELECT * FROM board_qna 
	                                    WHERE answer_status = #{answer_status} 
	                                    AND title LIKE '%'||#{keyword}||'%' 
	                                    AND board_id = #{board_id} 
	                                    ORDER BY qna_num DESC) B)
	                            WHERE RNUM BETWEEN (((#{page_num}-1) * #{page_amount}) + 1) 
	                            AND (#{page_num} * #{page_amount})
	                        </otherwise>
	                    </choose>
	                </otherwise>
	            </choose>
	        </when>
	        <otherwise>
	            <choose>
	                <when test="qna_status gte 1 and qna_status lte 6">
	                    <choose>
	                        <when test='keyword == null or keyword == ""'>
	                            SELECT * FROM (
	                                SELECT ROWNUM AS RNUM, B.* FROM (
	                                    SELECT * FROM board_qna 
	                                    WHERE qna_status = #{qna_status} 
	                                    AND board_id = #{board_id} 
	                                    ORDER BY qna_num DESC) B)
	                            WHERE RNUM BETWEEN (((#{page_num}-1) * #{page_amount}) + 1) 
	                            AND (#{page_num} * #{page_amount})
	                        </when>
	                        <otherwise>
	                            SELECT * FROM (
	                                SELECT ROWNUM AS RNUM, B.* FROM (
	                                    SELECT * FROM board_qna 
	                                    WHERE title LIKE '%'||#{keyword}||'%' 
	                                    AND qna_status = #{qna_status} 
	                                    AND board_id = #{board_id} 
	                                    ORDER BY qna_num DESC) B)
	                            WHERE RNUM BETWEEN (((#{page_num}-1) * #{page_amount}) + 1) 
	                            AND (#{page_num} * #{page_amount})
	                        </otherwise>
	                    </choose>
	                </when>
	                <otherwise>
	                    <choose>
	                        <when test='keyword == null or keyword == ""'>
	                            SELECT * FROM (
	                                SELECT ROWNUM AS RNUM, B.* FROM (
	                                    SELECT * FROM board_qna 
	                                    WHERE board_id = #{board_id} 
	                                    ORDER BY qna_num DESC) B)
	                            WHERE RNUM BETWEEN (((#{page_num}-1) * #{page_amount}) + 1) 
	                            AND (#{page_num} * #{page_amount})
	                        </when>
	                        <otherwise>
	                            SELECT * FROM (
	                                SELECT ROWNUM AS RNUM, B.* FROM (
	                                    SELECT * FROM board_qna 
	                                    WHERE title LIKE '%'||#{keyword}||'%' 
	                                    AND board_id = #{board_id} 
	                                    ORDER BY qna_num DESC) B)
	                            WHERE RNUM BETWEEN (((#{page_num}-1) * #{page_amount}) + 1) 
	                            AND (#{page_num} * #{page_amount})
	                        </otherwise>
	                    </choose>
	                </otherwise>
	            </choose>
	        </otherwise>
	    </choose>
	</select>
	
   <select id="getBoardQnaListCount" resultType="int">
    <choose>
        <when test='answer_status gte 1 and answer_status lte 2'>
            <choose>
                <when test="qna_status gte 1 and qna_status lte 6">
                    <choose>
                        <when test='keyword != null and keyword != ""'>
                            SELECT NVL(COUNT(*), 0) FROM board_qna 
                                WHERE answer_status = #{answer_status} 
                                AND title LIKE '%'||#{keyword}||'%' 
                                AND qna_status = #{qna_status} 
                                AND board_id = #{board_id}
                        </when>
                        <otherwise>
                            SELECT NVL(COUNT(*), 0) FROM board_qna 
                                WHERE answer_status = #{answer_status} 
                                AND qna_status = #{qna_status} 
                                AND board_id = #{board_id}
                        </otherwise>
                    </choose>
                </when>
                <otherwise>
                    <choose>
                        <when test='keyword != null and keyword != ""'>
                            SELECT NVL(COUNT(*), 0) FROM board_qna 
                                WHERE answer_status = #{answer_status}
                                AND title LIKE '%'||#{keyword}||'%' 
                                AND board_id = #{board_id}
                        </when>
                        <otherwise>
                            SELECT NVL(COUNT(*), 0) FROM board_qna 
                                WHERE answer_status = #{answer_status} 
                                AND board_id = #{board_id}
                        </otherwise>
                    </choose>
                </otherwise>
            </choose>
        </when>
        <otherwise>
            <choose>
                <when test='qna_status gte 1 and qna_status lte 6'>
                    <choose>
                        <when test='keyword != null and keyword != ""'>
                            SELECT NVL(COUNT(*), 0) FROM board_qna 
                                WHERE title LIKE '%'||#{keyword}||'%' 
                                AND qna_status = #{qna_status} 
                                AND board_id = #{board_id}
                        </when>
                        <otherwise>
                            SELECT NVL(COUNT(*), 0) FROM board_qna 
                                WHERE qna_status = #{qna_status} 
                                AND board_id = #{board_id}
                        </otherwise>
                    </choose>
                </when>
                <otherwise>
                    <choose>
                        <when test='keyword != null and keyword != ""'>
                            SELECT NVL(COUNT(*), 0) FROM board_qna 
                                WHERE title LIKE '%'||#{keyword}||'%' 
                                AND board_id = #{board_id}
                        </when>
                        <otherwise>
                            SELECT NVL(COUNT(*), 0) FROM board_qna 
                            WHERE board_id = #{board_id}
                        </otherwise>
                    </choose>
                </otherwise>
            </choose>
        </otherwise>
    </choose>
</select>
	
	<select id="getCountQna" parameterType="String" resultType="int">
	    SELECT COUNT(*) FROM board_qna WHERE board_id = #{board_id}
	</select>
	
	<update id="insertQnaRecommend">
	    UPDATE board_qna 
	        SET answer_status = 1, recommend = #{recommend}, recommend_date = SYSDATE 
	        WHERE board_id = #{board_id} AND qna_num = #{qna_num} AND seller_id = #{seller_id}
	</update>
	
	<select id = "qnaListAllById" resultMap = "BoardQnaMap" >
		SELECT a.qna_id,a.qna_num,a.board_id,a.seller_id,a.buyer_id,
				a.qna_status,a.answer_status,a.register_date,a.title,a.content,a.recommend,a.recommend_date,
				a.secret_flag, b.thumbnail_thum, b.thumbnail_thum_path,b.product_country, b.product_name, b.title AS board_title
		 FROM(
		 	SELECT qna_id,
		 		   qna_num,
		 		   board_id,
		 		   seller_id,
		 		   buyer_id,
		 		   qna_status,
		 		   answer_status,
		 		   register_date,
		 		   title,
		 		   content,
		 		   recommend,
		 		   recommend_date,
		 		   secret_flag,
		 		   row_number() OVER (ORDER BY recommend_date) AS rNum
		   FROM board_qna
		   <![CDATA[
		     WHERE register_date >=to_date( #{startDate}, 'YYYY-MM-DD') AND register_date <= to_date(#{endDate}, 'YYYY-MM-DD')+1 
		    ]]>
		   ) a,
		   board_product b
		WHERE rNum between #{rowStart} AND #{rowEnd} AND buyer_id = #{id} AND a.board_id = b.board_id(+)
		ORDER BY recommend_date ASC
	</select>
	
	<select id ="qnaCountById" resultType="int">
		SELECT count(*) FROM board_qna WHERE buyer_id =#{id}
		<![CDATA[
		     AND register_date >=to_date( #{startDate}, 'YYYY-MM-DD') AND register_date <= to_date(#{endDate}, 'YYYY-MM-DD')+1 
		    ]]>
	</select>
	
	

</mapper>