<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace="com.spring.mapper.BoardMapper는 
	 BoardMapper인퍼페이스(BoardMapper.class)의 이름을 사용한다. -->
<!-- root-context에서 아래와 같이 typeAliasesPackage를 설정하면 패키지 경로 생략 가능. -->
<mapper namespace="com.spring.mapper.BuyerMapper">
	
	<!-- id는 Mapper.java(여기선 MemberMapper.java)에 동일하게 사용해야된다. -->  
	<resultMap id="buyerResultMap" type="com.spring.buyer.BuyerVO">
		<result column = "buyer_id" property = "id" />
		<result column = "password" property ="password" />
		<result column = "name" property = "name" />
		<result column = "tel" property = "tel" />
		<result column = "email" property = "email" />
		<result column = "address" property = "address" />
		<result column = "buyer_num" property = "buyerNum" />
		<result column = "grade" property = "grade" />
		<result column = "member_type" property = "memberType" />
		<result column = "del_flag" property = "delFlag" />
		<result column = "join_date" property = "joinDate" />
		<result column = "wthdr_date" property = "wthdrDate" />
		<result column = "save_point" property = "savePoint" />
		<result column = "profile_img" property = "profileImg" />
		<result column = "profile_img_path" property = "profileImgPath" />
		<result column = "last_loginDate" property = "loginDate" />
	</resultMap>
	
	<resultMap id="deliveryResultMap"
		type="com.spring.buyer.deliveryVO">
		<result column="num" property="num" />
		<result column="buyer_id" property="id" />
		<result column="delivery_name" property="deliveryName" />
		<result column="address" property="address" />
		<result column="default_address" property="defaultaddress" />
		<result column="receiver_name" property="receiverName" />
		<result column="receiver_phone" property="receiverPhone" />
	</resultMap>
	
	<resultMap id="savePointResultMap" type="com.spring.buyer.SavePointVO">
		<result column = "sp_status" property = "status" />
		<result column = "sp_point" property = "point" />
		<result column = "sp_content" property = "content" />
		<result column = "sp_orderNum" property = "orderNum" />
		<result column = "sp_application_date" property = "applicationDate" />
		<result column = "buyer_id" property = "id" />
	</resultMap>
	
	<select id = "selectListAll" resultMap ="buyerResultMap" >
		SELECT * FROM member_buyer 
	</select>
	
	<select id = "selectOneById" resultMap = "buyerResultMap" >
		SELECT * FROM member_buyer WHERE buyer_id = #{id}
	</select>
	
	<insert id = "InsertBuyerAccount" parameterType = "com.spring.buyer.BuyerVO" >
		<selectKey keyProperty="buyerNum" order = "BEFORE" resultType="int">
			SELECT buyer_num_seq.nextval FROM dual
		</selectKey>
		INSERT INTO member_buyer (buyer_id, password, name, tel, email, address, buyer_num)
		VALUES (#{id}, #{password}, #{name}, #{tel}, #{email}, #{address}, #{buyerNum} )
	
	</insert>

	
	<update id = "UpdateLoginDateBy" parameterType = "com.spring.buyer.BuyerVO" >
		UPDATE member_buyer SET last_loginDate=sysdate WHERE buyer_id = #{id}
	</update>
	
	<delete id = "DeleteBuyerAccount" parameterType ="com.spring.buyer.BuyerVO">
		UPDATE member_buyer SET del_flag="Y", wthdr_date=sysdate 
		WHERE buyer_id = #{id} AND password = #{password}
	</delete>
	  

	
	<select id = "deliveryListAll" resultMap = "deliveryResultMap" >
		SELECT * FROM list_delivery WHERE buyer_id = #{id}
	</select>
	
	<select id = "savePointListAll" resultMap = "savePointResultMap" >
		SELECT point_num,sp_status,sp_point,sp_content,sp_orderNum,
				sp_application_date,buyer_id
		 FROM(
		 	SELECT point_num,
		 		   sp_status,
		 		   sp_point,
		 		   sp_content,
		 		   sp_orderNum,
		 		   sp_application_date,
		 		   buyer_id,
		 		   row_number() OVER (ORDER BY point_num DESC) AS rNum
		   FROM save_point
		  	 <if test="status != null and status == '적립'">
				WHERE sp_status = '적립'
			</if>
			<if test="status != null and status == '사용'">
				WHERE sp_status = '사용'
			</if>
		   ) sp
		WHERE rNum between #{rowStart} AND #{rowEnd} AND buyer_id = #{id}
		 			
		
		ORDER BY point_num DESC
	</select>
	
	<select id ="savePointCountById" resultType = "int" >
		
		SELECT count(*) FROM save_point WHERE buyer_id = #{id}
		<if test="status != null and status == '적립'">
			 AND sp_status = #{status}
		</if>
		<if test="status != null and status == '사용'">
			AND sp_status = #{status}
		</if>
		
	</select>
	
	
	<update id = "UpdateBuyerAccount" parameterType = "com.spring.buyer.BuyerVO"  >
		UPDATE member_buyer SET email=#{email}, tel=#{tel}, profile_img=#{profileImg}, profile_img_path=#{profileImgPath}
		 WHERE buyer_id = #{id}
	</update>
	
	<select id = "BuyerConfirmPassword" resultMap = "buyerResultMap" >
		SELECT * FROM member_buyer where buyer_id = #{id} and password = #{password}
	</select>
	
	<update id = "UpdateBuyerPassword" parameterType = "com.spring.buyer.BuyerVO"  >
		UPDATE member_buyer SET password = #{password}
		 WHERE buyer_id = #{id}
	</update>
	
	
	<update id="UpdateListDeliverList"	parameterType="com.spring.buyer.deliveryVO">
		update list_delivery  set default_address='N' where buyer_id = #{id}
	</update>

	<insert id="InsertListDeliveryList" 	parameterType="com.spring.buyer.deliveryVO">
		<selectKey keyProperty="num" order="BEFORE" resultType="int">
			select nvl(max(num), 0)+1 from list_delivery
		</selectKey>
		INSERT INTO list_delivery VALUES (#{num}, #{id}, #{deliveryName}, #{address}, #{defaultaddress}, #{receiverName}, #{receiverPhone})
	</insert>

	<select id="getListDeliveryDetail" parameterType="int" resultMap="deliveryResultMap">
		SELECT * FROM list_delivery where num = #{num}
	</select>
	



	<update id="ListDeliveryModify" parameterType="com.spring.buyer.deliveryVO">

		UPDATE list_delivery SET delivery_name=#{deliveryName},address=#{address},default_address=#{defaultaddress},receiver_name=#{receiverName},receiver_phone=#{receiverPhone}
		where num = #{num}
	</update>


	<delete id="ListDeliveryDelete" parameterType="int">
		delete from	list_delivery where num=#{num}
	</delete>

	<select id="isListDelivery" parameterType="HashMap"	resultType="int">
		select count(*) from list_delivery where num=#{num}
	</select>
	
	
	
</mapper>