

.update__form {
    display: flex;
    flex-direction: column;

}

.update__form--customer {
    display: flex;
    flex-direction: column;
    width: 1200px;
    padding: 50px;

}

label {
    width: 150px;
}


.essential::before {
    margin-right: 5px;
    display: inline-block;
    width: 12px;
    height: 9px;
    background-image: url("/UI/assets/Path.png");
    content: "";
}

.virtual::before {
    display: inline-block;
    width: 16px;
    content: "";

}

.name, .id, .pw, .pwcheck, .mPhone, .email, .addr {
    padding: 10px;
    border-top: 2px solid #d3d3d3
}

.email {
    margin-bottom: 35px;
}

.addr {
    margin-bottom: 10px;
    padding-bottom: 30px;
    border-bottom: 2px solid #d3d3d3;
}

input[type="text"], input[type="password"], input[type="checkbox"] {
    border: 1px solid #808080;
    border-radius: 5px;
    text-align: center;
}

.inputName, .inputId, .inputPw, .inputPwCheck, 
.inputEmail1, .inputEmail2 {
    width: 200px;
}

.inputPhone2, .inputPhone3 {
    width: 80px;
}

.inputAddrNum {
    width: 100px;
}

.inputAddr1 {
    margin-left: 156px;
}

.inputAddr1, .inputAddr2 {
    width: 350px;
}

.inputChkSms {
    margin-left: 20px;
}

select {
    border: 1px solid #808080;
    border-radius: 5px;
    text-align: center;
}

.selectPhone {
    width: 80px;
}

.selectEmail3 {
    width: 200px;
}

span {
    margin-left: 10px;
    font-family: 맑은 고딕,돋움,굴림;
    color:#888888;
    font-size: 8pt;
}

.mPhone .smsAgree {
    margin-left: 240px;
    font-family: 맑은 고딕,돋움,굴림;
    font-size: 8pt;
    color:#888888;
}

button {
    width: 200px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    font: 16px 맑은고딕,굴림,돋움;
    letter-spacing: 1px;
	color: #ffffff;
}

.addr .addrNumBtn {
    width: 100px;
    padding: 5px;
    margin-left: 20px;
    font: 12px 맑은고딕,굴림,돋움;
    background: #d3d3d3;
	color: black;
}

.finish .submitBtn {
    margin-left: 315px;
    background: #17a542;
}

.finish .resetBtn {
    margin-left: 20px;
    background: #808080;
}