<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace="com.spring.mapper.BoardMapper는 
	 BoardMapper인퍼페이스(BoardMapper.class)의 이름을 사용한다. -->
<!-- root-context에서 아래와 같이 typeAliasesPackage를 설정하면 패키지 경로 생략 가능. -->
<mapper namespace="com.spring.mapper.AdminMapper">
<!-- id는 Mapper.java(여기선 MemberMapper.java)에 동일하게 사용해야된다. -->
<resultMap id="adminResultMap" type="com.spring.admin.AdminVO">
	<result column = "admin_id" property = "id" />
	<result column = "password" property = "password" /> 
	<result column = "name" property = "name" />
	<result column = "admin_num" property = "adminNum" />
	<result column = "member_type" property = "memberType" />
</resultMap>

<resultMap id="accountResultMap" type="com.spring.admin.AccountVO">
	<result column = "account_id" property = "id" />
	<result column = "account_pw" property = "password" />
	<result column = "account_type" property = "memberType" />
</resultMap>
	  
	  <select id = "selectOneById" resultMap = "adminResultMap">
	  	SELECT * FROM admin WHERE admin_id = #{id}
	  </select>
	  
	  <select id = "selectCountById" resultType = "int">
	  	SELECT count(*) FROM all_account WHERE account_id = #{id}
	  </select>
	  

	  
	  
<!-- ======================= 하나 기석 작업  ======================================================== -->
	  
	  <select id = "selectAccountById" resultMap = "accountResultMap">
        <!-- SELECT * FROM all_account WHERE account_id = #{id} -->
        <![CDATA[
           SELECT a.*
            FROM all_account a
                LEFT OUTER JOIN member_buyer b ON a.account_id = b.buyer_id 
                LEFT OUTER JOIN member_seller s ON a.account_id = s.seller_id 
            WHERE (b.del_flag != 'Y' OR s.del_flag != 'Y' OR a.account_type = 'ADMIN') AND a.account_id = #{id}
        ]]> 
     </select>
	  	  
	  <select id="getAllAccountCount" resultType="int">
	  	select count(*) from all_account
	  </select>
	  
	  <select id="getAllAccountList" parameterType="HashMap" resultMap = "accountResultMap">
	  	<![CDATA[
	  		select account_id, account_pw, account_type
	  			from (select rownum rnum, account_id, account_pw, account_type
	  				from (select * from all_account order by rownum desc))
	  		where rnum>=#{startrow} and rnum<=#{endrow}
	  	]]> 
	  </select>
	  
	  
	<select id="getJoinChartData" resultType="int">
	    <![CDATA[
	    SELECT COUNT(*) FROM(
            SELECT b.*, s.* 
            FROM member_buyer b 
            JOIN member_seller s 
            ON (b.join_date = s.join_date 
            AND (b.join_date >= TO_DATE(#{startSearch}, 'YYYY-MM-DD') 
            AND b.join_date <= TO_DATE(#{endSearch}, 'YYYY-MM-DD')+1)))
        ]]>
	</select>
	 
	

</mapper>