<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace="com.spring.mapper.BoardMapper는 
	 BoardMapper인퍼페이스(BoardMapper.class)의 이름을 사용한다. -->
<!-- root-context에서 아래와 같이 typeAliasesPackage를 설정하면 패키지 경로 생략 가능. -->
<mapper namespace="com.spring.mapper.BoardReviewMapper">
    
    <resultMap type="com.spring.boardproduct.BoardReviewVO" id="BoardReviewMap">
        <result property="review_id" column="review_id" />
        <result property="review_num" column="review_num" />
        <result property="board_id" column="board_id" />
        <result property="buyer_id" column="buyer_id" />
        <result property="order_id" column="order_id" />
        <result property="title" column="title" />
        <result property="content" column="content" />
        <result property="satisfaction" column="satisfaction" />
        <result property="register_date" column="register_date" />
        <result property="review_img_path" column="review_img_path" />
        <result property="review_img_name" column="review_img_name" />
    </resultMap>

	<!-- id는 Mapper.java(여기선 MemberMapper.java)에 동일하게 사용해야된다. -->  
	
	<select id="checkReview" parameterType="String" resultType="int">
	    SELECT COUNT(*) FROM board_review 
	        WHERE board_id = #{board_id} AND buyer_id = #{buyer_id} AND order_id = #{order_id}
	</select>
	
	<select id="getReviewTotNum" resultType="int">
	    SELECT NVL(MAX(review_num), 0) FROM board_review
	</select>
	
	<select id="getReviewNum" parameterType="String" resultType="int">
	    SELECT COUNT(*) FROM board_review WHERE board_id = #{board_id}
	</select>
	
	<insert id="insertReview" parameterType="com.spring.boardproduct.BoardReviewVO">
	    INSERT INTO board_review VALUES (#{review_id}, #{review_num}, #{board_id}, #{buyer_id}, 
	        #{order_id}, #{title}, #{content}, #{satisfaction}, #{delivery_satisfaction}, 
	        SYSDATE, #{review_img_path}, #{review_img_name})
	</insert>
	
	
	<select id="getBoardReviewList" resultMap="BoardReviewMap">
	    SELECT * FROM( 
	        SELECT ROWNUM AS RNUM, B.* FROM (
            SELECT * FROM board_review WHERE board_id = #{board_id} ORDER BY review_num DESC) B) 
            WHERE RNUM BETWEEN (((#{page_num}-1) * #{page_amount}) + 1) 
                AND (#{page_num} * #{page_amount})
	</select>
	
	<select id="getAvgSatisfaction" parameterType="String" resultType="Double">
	    SELECT AVG(satisfaction) FROM board_review WHERE board_id = #{board_id}
	</select>
	
	<select id="countReviewById" resultType="int">
		SELECT count(*) FROM board_review WHERE buyer_id = #{buyer_id}
	</select>
	
	<select id="boardReviewListAllById" resultMap = "BoardReviewMap">
		SELECT * 
		FROM(
			SELECT review_num,
				   review_id,
				   board_id,
				   buyer_id,
				   order_id,
				   title,
				   content,
				   satisfaction,
				   delivery_satisfaction,
				   register_date,
				   review_img_path,
				   review_img_name,
				   row_number() OVER (ORDER BY review_num DESC) AS rNUM
		    FROM board_review
		  
		    ) rv
	  WHERE rNum between ${rowStart} AND #{rowEnd} AND buyer_id = #{buyer_id}
	  ORDER BY review_num DESC
	</select>
	
	<!-- 관리자 댓글 관리 페이지 -->

	<select id="getAdminBoardReviewCount" resultType="int">
		select count(*) from board_review
	</select>


	<select id="SelectAdminBoardReviewAllList" parameterType="HashMap" resultMap="BoardReviewMap">
		<![CDATA[
		select review_id,review_num,board_id,buyer_id,order_id,
						title,content,satisfaction,register_date,review_img_path,review_img_name
	        	from (select rownum rnum,review_id,review_num,board_id,buyer_id,order_id,
							title,content,satisfaction,register_date,review_img_path,review_img_name
            		from (select * from board_review)) 
	    where rnum>=#{startrow} and rnum<=#{endrow}
     	]]>
	</select>

	<!-- 댓글 삭제 -->

	<delete id="AdminBoardReviewDelete" parameterType="int">
		delete from
		board_review where review_num=#{review_num}
	</delete>

	<select id="isAdminBoardReviewList" parameterType="HashMap"
		resultType="int">
		select count(*) from board_review where
		review_num=#{review_num}
	</select>
	
	

	

</mapper>