/* coomons */
.enter {
    display: block;
    line-height: 1.8;
}


/* join-main */
.join__main {
    padding: 50px 0 100px;
}

.join__main--title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 65px;
}

.location-list {
    position: relative;
    top: -30px;
    display: flex;
    font-size: 13px;
}

.location-list li:first-child {
    position: relative;
    margin-right: 15px;
    color: rgba(0,0,0,0.4);
}

.location-list li:first-child::after {
    position: absolute;
    width: 15px;
    height: 15px;
    background-image: url("./assets/join_main-image/right-arrow.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    content: '';
}

.join__main--content {
    margin: 0 100px;
}

.join__main--content--title {
    margin-bottom: 40px;
}

.join__main--content--sort {
    display: flex;
}

.join--buyer {
    margin-right: 30px;
}

.join--buyer,
.join--seller {
    width: 50%;
    padding: 40px 40px 25px;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 20px;
}

.join--buyer:hover,
.join--seller:hover {
    border-radius: 20px;
    background: #ffffff;
    box-shadow:  20px 20px 60px #d9d9d9, 
                 -20px -20px 60px #ffffff;
    cursor: pointer;
}

.join--type {
    position: relative;
}

.join--type::after {
    position: absolute;
    top: 0;
    right: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    content: '';
}

.join--buyer .join--type::after {
    width: 52px;
    height: 52px;
    background-image: url(./assets/join_main-image/pngegg.png);
}

.join--seller .join--type::after {
    width: 62px;
    height: 52px;
    background-image: url(./assets/join_main-image/seller.jpg);
}

.join--type span {
    position: relative;
}

.join--type span::after {
    position: absolute;
    top: 13px;
    left: 65px;
    width: 25px;
    height: 30px;
    background-image: url(./assets/join_main-image/arrow-right2.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    content: '';

}

.easy-signUp dd {
    font-size: 12px;
}

.sns-wrap {
    display: flex;
    height: 30px;
    justify-content: space-between;
}

.sns-wrap a {
    position: relative;
    display: block;
    width: 120px;
    height: 30px;
}

.sns-wrap .naver {
    background-color: #00ca3b;
}

.sns-wrap .naver::after {
    position: absolute;
    top: 2px;
    left: 45px;
    width: 30px;
    height: 25px;
    background-image: url(./assets/join_main-image/naver-icon.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    content: '';
}

.sns-wrap .kakao {
    background-color: #f6d63d;
}

.sns-wrap .kakao::after {
    position: absolute;
    top: 2px;
    left: 49px;
    width: 25px;
    height: 25px;
    background-image: url(./assets/join_main-image/kakao-icon.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    content: '';
}

.sns-wrap .facebook {
    background-color: #3b5999;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.sns-wrap .facebook::after {
    position: absolute;
    top: 2px;
    left: 45px;
    width: 25px;
    height: 25px;
    background-image: url(./assets/join_main-image/facebook-icon.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    content: '';
}