
#main_visual {
  width: 100%;
  height: 100vh;
  background-image: url(../../Images/Home/bg_section_story.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center ;
}
