#order-check__content {
    margin: 50px 0;
    padding: 0;
    width: 900px;
}

#order-check__content--title {
	margin: 50px 0 20px 0;
	padding: 0;
}

.content__tag--b {
	font-size: 20px;
    color: #515151;
}

#order_check__content--search {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 130px;
    text-align: center;
    background-color: #ece9e9;
}

#order_check__content--search > input[type="text"] {
	margin: 30px 15% 10px 15%;
	width: 70%;
	text-align: center;
	border: 1px solid #a7a3a3;
	background-color: #fff;
	background-image: url("../../Images/Buyer/button_search.png");
	background-position: right;
	background-repeat: no-repeat;
	background-size: 24px 24px;
}

#order_check__content--search > input[type="date"] {
    margin: 0 10px;
    padding: 0;
    width: 115px;
    height: 25px;
    font-size: 13px;
    border: 1px solid #a7a3a3;
    background-color: #fff;
}

#order_check__content--search > input[type="button"] {
    margin: 0;
    padding: 0 5px;
    height: 25px;
    font-size: 15px;
}

#order_check__content--list-title {
	margin: 50px 0 20px 0;
	padding: 0;
	width: 100%;
}
span.content__tag--span {
	float: right;
}

#order_check__content--list-table {
	margin: 0;
	padding: 0;
	width: 100%;
	text-align: center;
}

#order_check__content--list-table > table > thead {
	border-top: 1px solid #515151;
	border-bottom: 1px solid #515151;
}

#order_check__content--list-table > table > tbody > tr {
	border-bottom: 1px solid #515151;
}

.list-table__num {
	width: 100px;
}

.list-table__name {
	width: 400px;
}

.list-table__date {
	width: 100px;
}

.list-table__price {
	width: 100px;
}

.list-table__point {
	width: 100px;
}

.list-table__status {
	width: 100px;
}

.list-table--none {
	text-align: center;
}