#my-page__content {
	margin: 0;
	padding: 0;
	width: 900px;
}

#my-page__content--user {
	margin: 50px 0 50px 0;
	padding: 0;
	height: 40px;
	text-align: center;
	border-radius: 10px;
	background-color: #515151;
}

#my-page__content--user > p {
	line-height: 40px;
	font-size: 20px;
	color: #fff;
}

#my-page__content--order-record {
	margin: 0;
	padding: 0;
	width: 900px;
	font-size: 15px;
	color: #515151;
}

#order-record__list--title {
	margin: 0;
	padding: 0;
	width: 900px;
}

#order-record__list--title > b {
	margin: 0;
	padding: 0;
	font-size: 20px;
}

#order-record__list--title > a {
	margin: 0;
	padding: 0;
	float: right;
	color: #515151;
}

thead > tr {
	height: 30px;
	border-top: 1px solid #717171;
	border-bottom: 3px solid #717171;
}

tbody > tr {
	border-bottom: 1px solid #717171;
}

.order-record__list--date {
	width: 100px;
}

.order-record__list--num {
	width: 300px;
}

.order-record__list--name {
	width: 300px;
}

.order-record__list--price {
	width: 100px;
}

.order-record__list--status {
	width: 100px;
}

.order-record__list--none {
	height: 150px;
	line-height: 150px;
	text-align: center;
}

#my-page__content--wish-list {
	margin: 50px 0;
	padding: 0;
	width: 900px;
	color: #515151;
}

#wish-list__list--title > b {
	margin: 0;
	padding: 0;
	font-size: 20px;
}

#wish-list__list--title > a {
	margin: 0;
	padding: 0;
	font-size: 15px;
	float: right;
}





#my-page__content--qna-list {
	margin: 0 50px 0 230px;
	padding: 0;
	width: 400px;
	color: #515151;
}

#qna-list__list--title > b {
	margin: 0;
	padding: 0;
	font-size: 20px;
}

#qna-list__list--title > a {
	margin: 0;
	padding: 0;
	font-size: 15px;
	float: right;
}

#qna-list__list--table > table {
	border-top: 2px solid #515151;
	border-bottom: 1px solid #515151;
}

.qna-list__list--td {
	width: 400px;
	height: 30px;
}

#my-page__content--review-list {
	margin: 0 0 0 50px;
	padding: 0;
	width: 400px;
	color: #515151;
}

#review-list__list--title > b {
	margin: 0;
	padding: 0;
	font-size: 20px;
}

#review-list__list--title > a {
	margin: 0;
	padding: 0;
	font-size: 15px;
	float: right;
}

#review-list__list--table > table {
	border-top: 2px solid #515151;
	border-bottom: 1px solid #515151;
}

.review-list__list--td {
	width: 400px;
	height: 30px;
}