.hide {
	display:none;
}

.container {
    width: 1200px;
    max-width: none !important;
}

.main {
    display: flex;
    flex-direction: column;

}

.join__form--customer {
    display: flex;
    flex-direction: column;
    width: 1200px;
    padding: 80px 200px 70px;

}

.join__form--customer h5 {
	margin-bottom: 20px;
}

.essential, .virtual {
    width: 150px;
}

.essential {
	position: relative;
}
.essential::before {
	position: absolute;
	top: 7px;
	left: -17px;
    width: 12px;
    height: 9px;
    margin-right: 5px;
    background-image: url("../../Images/Admin/Path.png");
    content: "";
}


.join_name,
.join_id,
.join_pw,
.join_pwcheck{
	display: flex;
    height: 61px;
    border-top: 1px solid #d3d3d3;
    padding: 10px 10px 0 20px;
}

.join_mPhone,
.join_email,
.join_addr {
	border-top: 1px solid #d3d3d3;
	padding: 10px 10px 10px 20px;
} 

.join_email .virtual {
	width: 146px;
}

.join_mPhone {
	display: flex;
	padding-bottom: 5px;

	}
	
.join_mPhone .essential {
	width: 182px;
}

.join_addr {
    border-bottom: 1px solid #d3d3d3;
}

.inputName, .inputId, .inputPw, .inputPwCheck,
.inputEmail1, .inputEmail2, .inputPhone2, .inputPhone3,
.inputChkSms, .inputAddrNum, .inputAddr1, .inputAddr2 {
	height: 28px;
    border: 1px solid #808080;
    border-radius: 5px;
    padding: 5px 7px;
    font-size: 15px;
    text-align: left;
}

.inputName, .inputId, .inputPw, .inputPwCheck, 
.inputEmail1, .inputEmail2 {
    width: 200px;
}

.inputPhone2, .inputPhone3 {
    width: 80px;
}

.inputAddrNum {
    width: 100px;
    margin-bottom: 3px;
}

.inputAddr1 {
    margin-left: 153px;
}

.inputAddr1, .inputAddr2 {
    width: 350px;
    margin-left: 153px;
}

.inputAddr1 {
	margin-bottom: 3px;
}

.inputChkSms {
	position: relative;
	top: -2px;
	margin-right: 2px;
	
	}

.check {
	font-size: 12px;

	}

.check.success {
	color: #27AE60;
}

.check.error {
	color: #EB5757;
}


.selectPhone, .selectEmail3 {
    border: 1px solid #808080;
    border-radius: 5px;
    text-align: center;
}

.selectPhone {
    width: 80px;
}

.selectEmail3 {
    width: 150px;
}

.guide {
    margin-left: 10px;
    
    color:#888888;
    font-size: 8pt;
}

.join_mPhone--content {
	width: 100%;
}

.join_mPhone--input {
	display: flex;
	align-items: start;
	width: 100%;
}


.join_mPhone .smsAgree-btn {
	display: flex;
	align-items: start;
	margin-left: 10px;
}

.join_mPhone .smsAgree-desc {
	font-size: 8pt;
    color: #888888;

	}


.addrNumBtn, .submitBtn, .resetBtn {
    width: 200px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-size: 16px
    letter-spacing: 1px;
	color: #ffffff;
}


.addrNumBtn {
    width: 100px;
    padding: 5px;
    margin-left: 5px;
    font-size: 12px;
    background: #d3d3d3;
	color: black;
}

.join_finish {
	position: relative;
	top: 25px;
	display: flex;
    justify-content: center;
}

.submitBtn {
    background: #27AE60;
}

.resetBtn {
    margin-left: 20px;
    background: #808080;
}