.hide{
    display: none;
}

/* Header  */
#header {
    display: fixed;
    
}

.header__head {
    display: flex;
    width: 1200px;
    margin-bottom: 10px;
    
}

.header__head--logo {
    margin-left: 330px;
    cursor: pointer;
}

.header__head--menubar {
    display: flex;
    align-items: flex-end;
}

.header__head--searchbar {
    display: flex;
    justify-content: space-between;
    width: 300px;
    height: 50px;
    padding: 10px 20px;

    border: 3px solid #34C759;
    border-radius: 100px;
}

.search-input {
    width: 90%;

}

.search-btn img {
    position: relative;
    top: -2px;
    width: 23px;
}

.cart-btn img {
    width: 55px;
    height: 55px;
}

.notice-btn img { 
    position: relative;
    top: -9px;
    width: 45px;
    height: 35px;
}

#nav {
    border-top : 1px solid rgba(51, 51, 51,0.1);
    border-bottom: 2px solid #34C759;;
}

/* nav  */
.header__nav {
    position: relative;
    display: flex;
    align-items: center;
    width: 1200px;
    height: 60px;
    padding: 0 10px 0 0;
   
}

#nav__category {
    position: relative;
    margin-right: 20px;
}



#category_btn {
    display: flex;
    width: 60px;
    height: 60px;
    background-color: #34C759;
}

#category_btn::before {
    position: relative;
    top: 18px;
    left: 15px;
    width: 30px;
    height: 23px;
    margin-right: 8px;
    background-image: url("./assets/header-image/menu_24px.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    content: '';
}

#category_menu {
    position: absolute;
    display: flex;
    height: 0;
    border: 1px solid rgba(52, 199, 89,0.8);
    transition: all 350ms ease-in-out;
   
    
}
#category_menu a {
    position: relative;
    display: block;
    font-size: 14px;
    font-weight: 500;
    color: rgba(51, 51, 51,0.6);
    text-align: left;
    letter-spacing: -.3px;
    
}

/* #category_menu a:hover {
    font-weight: 600;
    color: #34C759;
} */

#category_menu .title-on {
    font-weight: 600;
    color: #34C759;
}

#main_category--list li:first-child .title-on::after {
    top: 15px;
    right: 15px;
    content: '';
}

#main_category--list .title-on::after {
    position: absolute;
    top: 0;
    right: 15px;
    display: block;
    width: 19px;
    height: 19px;
    background-image: url("./assets/header-image/right_arrow.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    content: '';
}

.main_category {
    overflow: hidden;
    
    border-right: 1px solid rgba(51, 51, 51,0.1);
}


.main_category a,
.sub_category a {
    padding: 0 20px 16px;
    width: 225px;
}

.main_category li:first-child a,
.sub_category li:first-child a{
    padding-top: 16px;
}



.sub_category {
    position: relative;
    overflow: hidden;
    width: 225px;
}

.sub_category > ul {
    position: absolute;
}


.nav__localbar {
    margin-right: 120px;
}

.local-menu-list {
    display: flex;
    align-items: center;
    margin: 0;
}

.local-menu-list a {
    font-weight: 400;
    color: rgba(51, 51, 51,0.8);
    transition: all 350ms ease-in-out;
}

.local-menu-list a:hover {
    color: #34C759;
    font-weight: 500;
}

.local-menu-list li:first-child {
    padding-bottom: 12px;
    font-size: 16px;
    font-weight: 600;
    
}

.local-menu-list li:first-child::before {
    position: relative;
    top: 10px;
    display: inline-block;
    width: 33px;
    height: 30px;
    margin-right: 5px;
    background-image: url("./assets/header-image/농수산물이미지.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    content: '';
}

.local-menu-list li {
    margin-right: 10px;
}


.nav__menubar {
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    height: 60px;
    
}

.nav__menubar button {
    color: rgba(51, 51, 51,0.8);
}

.login-btn {
    display: flex;
    margin-right: 10px;

}

.login-btn::before {
    position: relative;
    top: 2px;
    width: 20px;
    height: 20px;
    margin-right: 3px;
    background-image: url("./assets/header-image/icon.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    content: '';
}

.join-btn {
    display: flex;
    margin-right: 10px;
}

.join-btn::before {
    position: relative;
    top: 2px;
    width: 20px;
    height: 20px;
    margin-right: 3px;
    background-image: url("./assets/header-image/회원가입.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    content: '';
}

.ordercheck-btn {
    display: flex;
    margin-right: 10px;
}

.ordercheck-btn::before {
    position: relative;
    top: 2px;
    width: 20px;
    height: 20px;
    margin-right: 3px;
    background-image: url("./assets/header-image/주문조회.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    content: '';
}

.service-btn {
    display: flex;
}

.service-btn::before {
    position: relative;
    top: 2px;
    width: 20px;
    height: 22px;
    margin-right: 3px;
    background-image: url("./assets/header-image/고객센터.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    content: '';
}